* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #313338;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Navigation Bar Styling */
nav {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 20px;
}

nav h1 {
    font-size: 40px;
}

nav ul {
    font-size: 25px;
    margin: 40px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 10px 20px;
    background-color: #5a5a5a;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #666;
}

/* Image Uploading */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Spacing between form fields */
}

.address-button {
    background-color: #5a5a5a;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #666;
    border-radius: 8px;
    width: 300px;
    margin-bottom: 10px;
}

.address-button:focus {
    outline: none;
    border-color: #888;
}

#select-image {
    border: none;
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    width: 320px;
}

#select-image:hover {
    background-color: #555;
}

#upload-image {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 320px;
    transition: background-color 0.3s;
}

#upload-image:hover {
    background-color: #218838;
}

/*Instruction Settings*/
.instruction-settings {
    max-width: 1000px;
    border-radius: 10px;
    line-height: 1.6;
}

.instruction-settings h1 {
    font-size: 36px;
    text-align: center;
}

.instruction-settings h2 {
    font-size: 28px;
}

.instruction-settings p {
    font-size: 20px;
    text-align: justify;
}

.instruction-settings ol {
    font-size: 20px;
    margin: 0 20px;
}

/* Section Styling */
section {
    padding: 60px 20px;
    margin: 30px auto;
    max-width: 1000px;
    text-align: center;
    background-color: #383a40;
    border-radius: 15px;
}

section h1, section h2 {
    font-size: 30px;
    margin: 40px 0;
}

section p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 1.6;
}

/* Image Display Styling */
#image-display {
    margin-top: 20px;
}

#image-display img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
}

#image-display p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
