<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rooftop Analysis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Rooftop.css') }}">
    </head>
    <body>
    <!-- Navigation Bar -->
    <header>
        <nav>
            <h1> Rooftop Analysis</h1>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="https://ecolibrium.nyc/" target="_blank"> Website </a></li>
                <li><a href="https://earth.google.com/web/" target="_blank"> Google Earth </a></li>
            </ul>
        </nav>
    </header>

    <div class = "page-content">
        <!-- Instruction Section -->
        <section id = instructions>
            <h1> Instructions</h1>
            <p> <b> 1) </b> Obtain images from the <strong >'Google Earth' </strong>Button go to any location you'd like to see.
                It's very important that you screenshot images in <strong> 2D mode</strong>, as 3D isn't as clear and will give you false values.
            </p>

            <p> <b> 2) </b>Make sure that the images you submit are close screenshots of the building, where every single pixel full contains the rooftop.
                <strong>Failure to do so will give you false values as well.</strong>
            </p>

            <p> <b> 3) </b>Insert an image on the left-hand side button. After image is submitted, click <strong>'Upload Image'</strong>
                to view the image with your albedo value!</p>
        </section>
        <!-- Home Section -->
        <section id="home">
            <h1>Upload a Rooftop Image for Analysis!</h1>

            <form action="/" method="post" enctype="multipart/form-data">
                <input id= "select-image" type="file" name="file" required>
                <input id="upload-image" type="submit" value="Upload Image">
            </form>
            <!-- this only appears when an image is uploaded to the website -->
            {% if processed %}
                <h2>Uploaded Image | Albedo Value: {{ albedo }}</h2>
                <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image">
            
            {% endif %}
        </section>

        <!-- About Section -->
        <section id="about">
            <h2>About</h2>
            <p>This project allows users to upload images of rooftops for analysis. We analyze the images for albedo, and other factors to
                improve energy efficiency for users if they were to paint their rooftops white.
            </p>
            <p>
                The albedo value will be ranging from a scale of 0 - 1, where 0 is black, and 1 is white. The closer to 1, the better your
                buildings' energy usage will be.

            </p>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <h2>Contact</h2>
            <p>If you have any questions, feel free to reach out via email at info@loisaida.com.</p>
        </section>
    </div>
        <!-- Footer -->
        <footer>
            <p>&copy; 2024 Loisaida Center. All rights reserved.</p>
        </footer>
    </body>
</html>
